/* 1 Cover */
.cover-bg h1 {
  font-size: 36px;
  color: white;
  opacity: 0%;
  animation: fadeIn 1.5s ease-in forwards;
  margin: 0 0 5rem 0;
}
.cover-bg * {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.cover-link {
  font-size: 70px;
  display: block;
  transition: 0.2s ease-out;
}
.cover-link:hover {
  transform: scale(1.05);
  color: white;
}
/* Route-based body centering when on cover route */
body:not(.applayout) #root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* AppLayout */
/* Narbar */
.app-nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1.5px rgb(84, 83, 83);
  font-size: 1.5rem;
}
#nav-home {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 1.05em;
}

/* AboutMe */
.showcase {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-align: start;
}
.showcase-unit-title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
