/* Global var */
body {
  --navbar-font-size: 1.5rem;
  --navbar-home-font-size: 1.05em;
  --border-radius-container: 1.5rem;
  --border-width-container: 1.9px;
  --border-width-nav-and-footer: 1.5px;
  --gap-row-general: 2rem;
  
  --color-artistic-yellow: #8b740c; 
  --color-artistic-orange: #c23d00;
  --color-artistic-green: #1ca700; 
  --color-box-shadow: #cac8c8;
}
body.dark {
  --color-artistic-yellow: #ecdc4b; 
  --color-artistic-orange: #ee7f36;
  --color-artistic-green: #40e23a; 
  --color-box-shadow: #444444;
}
.text-highlight {
  color: var(--color-artistic);
}

/* AppLayout */
/* Narbar */
.app-nav {
  --button-padding: 0.4em;

  z-index: 40;
  position: sticky;
  top: 0;
  width: calc(100% - var(--padding-root-width) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-root-width);
  border-bottom: solid var(--border-width-nav-and-footer) var(--color-border);
  font-size: var(--navbar-font-size);
  background-color: var(--color-background);

}
#nav-home, .dark-mode-toggle a, .app-navlink {
  padding: var(--button-padding);
}
#nav-home {
  font-family: "Bowlby One SC", sans-serif;
  font-size: var(--navbar-home-font-size);
  transition: 0.05s;
}
#nav-home:hover {
  transform: scale(1.1);
}
.app-subnav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
}
.dark-mode-toggle a {
  cursor: pointer;
  transition: 0.1s;
  border-radius: 50%;
}
.dark-mode-toggle a:hover {
  background-color: var(--color-hover-background);
}
.app-navlink {
  transition: 0.1s;
  border-radius: var(--border-radius-container);
}
.app-navlink.active, .app-navlink:hover {
  background-color: var(--color-hover-background);
}
.app-navlink.active {
  color: var(--color-foreground);
}
/* app-bg */
.app-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* AboutMe */
#aboutme-intro {
  margin-top: var(--gap-row-general);
}
.showcase {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-align: start;
  margin-top: var(--gap-row-general);
}
.showcase-unit-title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.showcase-unit-title > span {
  font-size: var(--font-size-slightly-bigger-p);
}
.pre-footer {
  display: flex;
  gap: 1rem;
  align-self: stretch;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  /* border-top: solid var(--border-width-container) var(--color-border); */
}
#contact-me {
  display: flex;
  text-align: start;
  flex-direction: column;
  
}
#contact-me p,#contact-me a {
  margin: 0.3em 0;
}
#contact-me-icons {
  display: flex;
  gap: 1rem;
}
#contact-me-icons a {
  font-size: 1.6rem;
}
#profile {
  border-radius: 50%;
  width: 12rem;
  height: auto;
}
.aboutme-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.elementor-section {
  background-color: #d884cd;
}
.dark .elementor-section {
  background-color: #a33c84;
}
.elementor-shape {
  direction: ltr;
  left: 0;
  line-height: 0;
  
  position: absolute;
  width: 100%;
}
.elementor-shape-top {
  top: -1px;
}
.elementor-shape svg {
  display: block;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.elementor-shape-top svg {
  width: calc(270% + 1.3px);
  height: 380px;
  display: block;
}
.elementor-shape-bottom svg{
  transform: scaleY(-1);
}
.elementor-shape-bottom {
  bottom: -1px;
  transform: translateX(-60%);
  width: calc(270% + 1.3px);
  height: 380px;
  display: block;
}
.elementor-shape-fill {
  fill: var(--color-background);
}
.elementor-cards {
  position: relative;
  padding: 150px 0px;
}
.elementor-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 3.5rem;
  align-items: center;
}
.elementor-content {
  max-width: 40%;
  text-align: start;
}
.elementor-image {
  max-width: 35%;
}
.elementor-image img {
  border-radius: var(--border-radius-container);
  width: 100%;
}
/* Timeline */
.timeline-wrapper {
  margin-top: var(--gap-row-general);
  box-sizing: border-box;
  text-align: start;
}
.timeline-wrapper h3 {
  text-align: center;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--color-foreground);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* The circles on the timeline */
.timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(245, 242, 235);
  border: 4px solid var(--color-artistic);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.timeline .left {
  left: -7.7%;
}
/* Place the container to the right */
.timeline .right {
  left: 50%;
}
/* Add arrows to the left container (pointing right) */
.timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--color-foreground);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-foreground);
}
/* Add arrows to the right container (pointing left) */
.timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--color-foreground);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color-foreground) transparent transparent;
}
/* Fix the circle for containers on the right side */
.timeline .right::after {
  left: -16px;
}
/* The actual content */
.timeline .content {
  padding: 20px 30px;
  background-color: var(--color-background);
  border: solid 2px var(--color-foreground);
  position: relative;
  border-radius: 6px;
  border: solid 2px var(--color-foreground);
}
.timeline .right .content {
  box-shadow: 8px 8px 3px var(--color-box-shadow);
}
.timeline .left .content {
  box-shadow: -8px 8px 3px var(--color-box-shadow);
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
/* Full-width containers */
  .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
/* Make sure that all arrows are pointing leftwards */
  .timeline .container::before {
    left: 60px;
    border: medium solid var(--color-foreground);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--color-foreground) transparent transparent;
  }
/* Make sure all circles are at the same spot */
  .timeline .left::after, .right::after {
    left: 15px;
  }
/* Make all right containers behave like the left ones */
  .timeline .right {
    left: 0%;
  }
}

/* Illu list */
.works-wrapper.illu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-display.illustrations {
  padding-top: var(--padding-root-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 3rem;
  width: 90%;
}
.illu.thumb {
  width: 70%;
  padding: 40px;
  height: 450px;
  transition: 0.1s;
  background-color: var(--color-foreground);
}
.illu.thumb:hover{
  transform: rotate(-1deg) scale(1.02);
}
.illu.thumb-wrapper .imgholder {
  overflow: hidden;
  width: 100%;
  height: 350px;
  border-radius: var(--border-radius-container);
}
.illu.thumb-wrapper .imgholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* max-height: 80%; */
  border-radius: var(--border-radius-container);
}
#headimg-other-works {
  object-position: bottom;
}
.illu.thumb:hover .thumb-link {
  color: var(--color-background);
}

/* Coding list */
.works-display.coding {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.coding.thumb {
  width: 80%;
  transition: 0.1s;
  box-shadow: 10px 5px 5px var(--color-box-shadow);
  padding: 1rem 50px;
}
.coding.thumb h2 {
  color: var(--color-foreground);
  margin: 0.3em 0 0.05em 0;
}
.thumb.dir-1 .thumb-link {
  flex-direction: row-reverse;
}
.coding.thumb .textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dir-0 .textBox {
  margin-left: auto;
}
.coding.thumb-link {
  width: 100%;
  display: flex;
  gap: 3rem;
}
.coding.thumb-link .thumb-des {
  color: var(--color-foreground);
  text-align: start;
}
.coding.thumb:hover {
  transform: scale(1.01);
}
/* .coding.thumb:has(.thumb-link:hover) {
  transform: scale(0.99);
} */
.coding.thumb .title {
  color: var(--color-artistic);
  font-size: 2rem;
}
.coding.thumb .tags {
  margin: 0.3em 0;
}
.coding.thumb .tag * {
  padding: 0 0.3em;
  font-size: 0.8rem;
  border-radius: var(--border-radius-container);
  border: solid 1px;
}
.thumb .cate.tag {
  color: var(--color-artistic-yellow);
}
.thumb .skills.tag {
  color: var(--color-artistic-orange);
}
.thumb .tech-stack.tag {
  color: var(--color-artistic-green);
}
.imgbox {
  max-width: 60%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgbox img {
  max-width: 90%;
  min-width: 300px;
}
.imgbox img {
  border-radius: calc(var(--border-radius-container) / 2);
  border: solid var(--border-width-container) var(--color-border);
}

/* Illu + coding list mutual part */
.thumb {
  border: solid var(--border-width-container) var(--color-border);
  border-radius: var(--border-radius-container);
}
.works-intro {
  align-self: stretch;
  margin-bottom: 5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
}
.works-intro .textbox {
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-radius: var(--border-radius-container);
  padding: 1.2rem;
  max-width: 60%;
}
.works-intro p{
  font-size: var(--font-size-slightly-bigger-p);
}
.works-wrapper {
  padding-bottom: 2.5rem;
}


/* Illu project*/
.illu-project {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.return {
 font-size: 1.6rem;
 align-self: end;
 padding: 4rem 140px 0 0;
}
.illu-project > p {
  font-size: var(--font-size-slightly-bigger-p);
}
.illu-project img {
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}
.illu-project-images {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 85%;
  min-width: 60%;
}
.illu-project-images img {
  width: 100%;
  border-radius: var(--border-radius-container);
}
body:not(.dark) .illu-project-images img{
  border: solid 1.5px var(--color-foreground);
}
.illu-project-images.grid-4-column {
  grid-template-columns: repeat(4, 1fr);
}
.illu-project-images.grid-6-column {
  grid-template-columns: repeat(6, 1fr);
}
.illu-project-images.couplet {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.illu-project-images.grid-same-height {
  grid-template-columns: 1fr;
}
.illu-project-images.grid-same-height img {
  height: 400px;
  width: auto;
  
}
.couplet .horizontal-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.couplet > img {
  width: 340%;
}
.zoom-in {
  cursor: zoom-in;
}
/* Masonry */
.maso-flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.maso-flow {
  margin: 0 10px;
}
.maso-wrapper {
  max-width: 50%;
  /* margin-inline: auto; */
  padding-inline: var(--gutter);
}
.masonry {
  --gutter: 0.25em;
  --flow-space: var(--gutter);
  --switcher-target-container-width: 25rem;
}
.masonry img {
  width: 100%;
}
.maso-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
  align-items: var(--switcher-vertical-alignment, flex-start);
}
.maso-switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
}

/* Coding Project */
.coding-project .return {
  padding: 0;
}
.coding-project {
  padding: 1.1rem 40px;
}
.coding-project img{
  max-width: 65%;
  min-width: 400px;
}
.coding-project .para-wrapper,.repository {
  text-align: start;
}
.coding-project .para-wrapper h4 {
  margin-top: 1.5em;
}
.repository {
  font-size: 1.5rem;
  margin: 0.5em 0;
}
.coding-project .img-wrapper {
  margin: 1.2rem 0;
}


/* footer */
footer {
  margin-top: var(--gap-row-general);
  padding: 1.5rem 0;
  border-top: solid var(--border-width-nav-and-footer) var(--color-border);
}