/* Global var */
body {
  --navbar-font-size: 1.5rem;
  --navbar-home-font-size: 1.05em;
}

/* Cover */
.cover-bg h1 {
  font-size: 36px;
  color: var(--color-foreground);
  opacity: 0%;
  animation: fadeIn 1.5s ease-in forwards;
  margin: 0 0 5rem 0;
}
.cover-bg * {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.cover-link {
  font-size: 70px;
  display: block;
  transition: 0.2s ease-out;
}
.cover-link:hover {
  transform: scale(1.05);
}
/* Route-based body centering when on cover route */
body:not(.applayout) {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body:not(.applayout) #root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* AppLayout */
/* Narbar */
.app-nav {
  --button-padding: 0.2em;

  z-index: 40;
  position: sticky;
  top: 0;
  width: calc(100% - var(--padding-root) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-root);
  border-bottom: solid 1.5px var(--color-border);
  font-size: var(--navbar-font-size);
  background-color: var(--color-background);

}
#nav-home, .dark-mode-toggle a, .navlink {
  padding: var(--button-padding);
}
#nav-home {
  font-family: "Bowlby One SC", sans-serif;
  font-size: var(--navbar-home-font-size);
  transition: 0.05s;
}
#nav-home:hover {
  transform: scale(1.05);
}
.app-subnav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
}
.dark-mode-toggle a {
  cursor: pointer;
  transition: 0.1s;
  border-radius: 50%;
}
.dark-mode-toggle a:hover {
  background-color: var(--color-hover-background);
}
.navlink {
  transition: 0.1s;
  border-radius: 0.5em;
}
.navlink.active, .navlink:hover {
  background-color: var(--color-hover-background);
}
.navlink.active {
  color: var(--color-foreground);
}
.app-bg {
  margin-top: 1.25rem;
}

/* AboutMe */
.showcase {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-align: start;
}
.showcase-unit-title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
