:root {
  --padding-root-width: 16px;
  --padding-root-height: 1rem;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  margin: 0;
  /* padding-top: 0 for sticky nav bar to display properly */
  /* padding: 0 var(--padding-root-width) var(--padding-root-width) var(--padding-root-width);  */
  text-align: center;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  --font-size-slightly-bigger-p: 1.3rem;
  font-size: 1.2rem;
}
p + p {
  margin-top: 1em;
}
h1,h2,h3,h4,p {
  margin: 0.3em 0;
}
a {
  font-weight: 500;
  color: var(--color-artistic);
  text-decoration: inherit;
  user-select: none;
}
a:not(.link-no-hover):hover {
  color: var(--color-foreground);
}

footer {
  margin-top: var(--gap-row-general);
  padding: 1.5rem 0;
  border-top: solid var(--border-width-nav-and-footer) var(--color-border);
}
body {
  --color-foreground: #251a38;
  --color-background: rgb(245, 242, 235);
  --color-artistic: #ee2a9c;
  --color-border: rgb(32, 32, 32);
  --color-hover-background: #bfbec2;

  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  color: var(--color-foreground);
  background-color: var(--color-background);
  color-scheme: light;
}
body.dark {
  --color-background: #242424;
  --color-foreground: rgb(234, 250, 255);
  --color-artistic: #db3bab;
  --color-border: rgb(105, 104, 104);
  --color-hover-background: #5c5c5e;

  color-scheme: dark;
}





