/* Global */
:root {
  color-scheme: light dark;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  margin: 0;
  padding: 16px;
  text-align: center;
}
p {
  margin: 0.5em 0;
}
a {
  font-weight: 500;
  color: #ff3f95;
  text-decoration: inherit;
}
a:hover {
  color: rgba(255, 255, 255, 0.87);
}
body {
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
}
/* Center content on the cover page */
body:not(.applayout) {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 

@media (prefers-color-scheme: light) {
  :root {
    color: #251a38;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff3f95;
  }
  button {
    background-color: #f9f9f9;
  }
} */



