:root {
  --padding-root: 16px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  margin: 0;
  /* No padding at the top for sticky nav bar to display properly */
  padding: 0 var(--padding-root) var(--padding-root) var(--padding-root); 
  text-align: center;
}
p {
  margin: 0.5em 0;
}
a {
  font-weight: 500;
  color: var(--color-artistic);
  text-decoration: inherit;
  user-select: none;
}
a:hover {
  color: var(--color-foreground);
}
body {
  --color-foreground: #251a38;
  --color-background: rgb(242, 249, 252);
  --color-artistic: #ee2a9c;
  --color-border: rgb(32, 32, 32);
  --color-hover-background: #bfbec2;

  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  color: var(--color-foreground);
  background-color: var(--color-background);
  color-scheme: light;
}
body.dark {
  --color-background: #242424;
  --color-foreground: rgb(234, 250, 255);
  --color-artistic: #db3bab;
  --color-border: rgb(105, 104, 104);
  --color-hover-background: #5c5c5e;

  color-scheme: dark;
}





